@{
  Layout = "_Layout";
}

<header>
  <p id="student-list"><strong>@Html.ActionLink("Students", "Index", "Students")</strong></p>
  <p id="course-list"><strong>@Html.ActionLink("Courses", "Index", "Courses")</strong></p>
</header>
<br>

<h1><strong>Whoop-Ass University</strong></h1>
<br>

<p>Step into the future of being a badass!</p>
<p>YOU EVER WANTED TO EXPLODE CONCRETE!?!?</p>
<br>
<p>Sign Up Today!</p>